@model IEnumerable<AppointmentSystem.Web.Models.ActivityModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="~/css/Details.css" rel="stylesheet" />
    <style>
        body {
            background-image: url(../images/rush-hour.jpg);
            background-position: top;
            background-repeat: repeat;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" asp-controller="LoggedUser" asp-action="Index">AppointmentSystem</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active">
                    <a asp-area="" asp-controller="User" asp-action="Profile">Profile</a>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="active"><a asp-area="" asp-controller="User" asp-action="Index">Users</a></li>
                    }

                }
                <li class="active"><a asp-area="" asp-controller="Appointment" asp-action="Index">Appointments</a></li>
                <li class="active"><a asp-area="" asp-controller="Activity" asp-action="Index">Activity</a></li>
                <li class="active"><a asp-area="" asp-controller="LoggedUser" asp-action="LogOut">Log Out</a></li>
                <li class="active"><a asp-area="" asp-controller="User" asp-action="Profile">Hello, @User.Identity.Name</a></li>
            </ul>
            @if (User.IsInRole("Admin"))
            {
                <a asp-action="Create">
                    <img src="~/images/icon128-2x.png" id="imgInMenu">
                </a>
            }
        </div>
    </nav>
    <section>
        <div id="tableContainer">
            <table id="taskTable">
                <tr>
                    <th>Name</th>
                    <th>Duration</th>
                    <th>Price</th>
                    <th>Options</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Duration)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            <ul id="optionsList">
                                <li>
                                    <a class="inner-menu-item" asp-action="Details" asp-route-id="@item.Id">Details</a>
                                </li>
                                @if (User.IsInRole("Admin"))
                                {
                                    <li>
                                        <a class="inner-menu-item" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                    </li>
                                    <li>
                                        <a class="inner-menu-item" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                    </li>
                                }
                            </ul>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </section>
</body>
</html>
